fastapi
uvicorn
pandas
numpy
sqlalchemy
pydantic
python-dotenv
python-multipart

openai
ollama
sentence-transformers
faiss-cpu
rapidfuzz
easyocr
openai-whisper

pillow
openpyxl
pybase64
requests

apscheduler
twilio
jose
passlib

google
opentelemetry-api
opentelemetry-sdk
langfuse

ffmpeg-python

--extra-index-url https://download.pytorch.org/whl/cpu
torch